<!-- Preloader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!--============= { Header } ===========-->
<header id="header-03" class="header">
    <!-- START NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-light bg-faded">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="SafeTour"></a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown"><a href="index.html" class="nav-link active">Home</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="index.html">Home Version 1</a></li>
                        <li><a class="dropdown-item" href="index-02.html">Home Version 2</a></li>
                        <li><a class="dropdown-item" href="index-03.html">Home Version 3</a></li>
                        <li><a class="dropdown-item" href="index-04.html">Home Version 4</a></li>                            
                        <li><a class="dropdown-item" href="index-05.html">Home Version 5</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown"><a href="packages-grid.html" class="nav-link">Tours</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="packages-grid.html">Tour Grid</a></li>
                        <li><a class="dropdown-item" href="packages-list.html">Tour List</a></li>
                        <li><a class="dropdown-item" href="tour-search.html">Tour Search</a></li>
                        <li><a class="dropdown-item" href="packages-single.html">Tour Details</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown"><a href="hotels.html" class="nav-link ">Hotel</a>
          <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="hotels-grid.html">Hotel Grid</a></li>
                        <li><a class="dropdown-item" href="hotels.html">Hotel Search</a></li>
                    </ul>
        </li>
                <li class="nav-item dropdown"><a href="car-rents-list.html" class="nav-link">Services</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="car-rents-list.html">Car Rents</a></li>
                        <li><a class="dropdown-item" href="cruise-list.html">Cruise</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown"><a href="index.html" class="nav-link">Pages</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown"><a class="dropdown-item d-flex justify-content-between" href="index.html">Dropdown</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="index.html">Lavel 2</a></li>
                                <li><a class="dropdown-item" href="index.html">Lavel 2</a></li>
                                <li><a class="dropdown-item" href="index.html">Lavel 2</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="packages-grid.html">Packages Grid</a></li>
                        <li><a class="dropdown-item" href="packages-list.html">Packages List</a></li>
                        <li><a class="dropdown-item" href="packages-single.html">Single Packages</a></li>
                        <li><a class="dropdown-item" href="blog-grid.html">Blog Grid</a></li>
                        <li><a class="dropdown-item" href="blog-list.html">Blog List</a></li>
                        <li><a class="dropdown-item" href="blog-single.html">Blog Post</a></li>
                        <li><a class="dropdown-item" href="contact.html">Contact</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown"><a href="blog-grid.html" class="nav-link">Blog</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="blog-grid.html">Blog Grid</a></li>
                        <li><a class="dropdown-item" href="blog-list.html">Blog List</a></li>
                        <li><a class="dropdown-item" href="blog-single.html">Blog Post</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
            </ul>
            <div class="">
                <a href="#" class="btn btn-default book-btn">Book Now</a>
            </div>
        </div>
    </nav><!-- END NAVBAR -->
    <!--==================
        Slider
    ===================-->
    <div class="rev_slider_wrapper">
       <div id="rev_slider_1" class="rev_slider rev_slider-03">

            <!-- BEGIN SLIDES LIST -->
            <ul>
                <li data-index="rs-3010" data-transition="fade" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="/images/banner-03.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <div class="slider-overlay"></div>
                    <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                    <img src="images/banner-03.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- BEGIN BASIC TEXT LAYER -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme" 
                         id="slide-3045-layer-1" 
                        data-x="['left','left','left','left']" data-hoffset="['70','70','70','70']" 
                         data-y="['middle','middle','middle','middle']" data-voffset="['-160','0','0','0']" 
                        data-fontsize="['56','56','56','56']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 2; white-space: nowrap;font-family: 'Poppins', sans-serif; text-transform: none;">World nature safe
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme" 
                         id="slide-3045-layer-2" 
                        data-x="['left','left','left','left']" data-hoffset="['70','70','70','70']" 
                         data-y="['middle','middle','middle','middle']" data-voffset="['-90','0','0','0']" 
                        data-fontsize="['56','56','56','56']"
                        data-lineheight="['68','68','68','50']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[12,12,12,12]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[12,12,12,12]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 3; white-space: nowrap;font-family: 'Poppins', sans-serif; text-transform: none;">Adventures
                    </div>                    

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption   tp-resizeme" 
                         id="slide-3045-layer-3" 
                        data-x="['left','left','left','left']" data-hoffset="['70','70','70','70']" 
                         data-y="['middle','middle','middle','middle']" data-voffset="['-20','0','0','0']" 
                        data-fontsize="['18','18','18','18']"
                        data-lineheight="['68','68','68','50']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 5; white-space: nowrap;font-family: 'Poppins', sans-serif; text-transform: none; color: #ffffff;">Active lifestyle national Hungary bus creditcard
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption   tp-resizeme" 
                         id="slide-3045-layer-4" 
                        data-x="['left','left','left','left']" data-hoffset="['70','70','70','70']" 
                         data-y="['middle','middle','middle','middle']" data-voffset="['10','0','0','0']" 
                        data-fontsize="['18','18','18','18']"
                        data-lineheight="['68','68','68','50']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 6; white-space: nowrap;font-family: 'Poppins', sans-serif; color: #ffffff;">South America expedia boat.
                    </div>
                    <!-- LAYER NR. 5 -->
                   <div class="tp-caption Newspaper-Button rev-btn " 
                        id="slide-1687-layer-5" 
                        data-x="['left','left','left','left']" data-hoffset="['70','70','70','70']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['100','0','0','0']" 
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-fontsize="['16','16','16','16']"
                        data-type="button" 
                        data-responsive_offset="on" 
                        data-responsive="on"
                        data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[15,15,15,15]"
                        data-paddingright="[30,30,30,30]"
                        data-paddingbottom="[15,15,15,15]"
                        data-paddingleft="[30,30,30,30]"
                        style="z-index: 8; font-weight: 600; white-space: nowrap;font-family: 'Poppins', sans-serif; outline:none;box-shadow:none;border:none; background:#ffffff; color:#3f77fa; cursor:pointer;letter-spacing: 0; border-radius: 5px;"><span>Start tour</span>
                    </div>
                <li data-index="rs-3047" data-transition="zoomin" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="images/banner.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <div class="slider-overlay"></div>
                    <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                    <img src="images/banner.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="0" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- BEGIN BASIC TEXT LAYER -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme" 
                         id="slide-3045-layer-5" 
                        data-x="['left','left','left','left']" data-hoffset="['70','70','70','70']" 
                         data-y="['middle','middle','middle','middle']" data-voffset="['-160','0','0','0']" 
                        data-fontsize="['56','56','56','56']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 2; white-space: nowrap;font-family: 'Poppins', sans-serif; text-transform: none;">World nature safe
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption NotGeneric-Title   tp-resizeme" 
                         id="slide-3045-layer-6" 
                        data-x="['left','left','left','left']" data-hoffset="['70','70','70','70']" 
                         data-y="['middle','middle','middle','middle']" data-voffset="['-90','0','0','0']" 
                        data-fontsize="['56','56','56','56']"
                        data-lineheight="['68','68','68','50']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[12,12,12,12]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[12,12,12,12]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 3; white-space: nowrap;font-family: 'Poppins', sans-serif; text-transform: none;">Adventures
                    </div>                    
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption   tp-resizeme" 
                         id="slide-3045-layer-7" 
                        data-x="['left','left','left','left']" data-hoffset="['70','70','70','70']" 
                         data-y="['middle','middle','middle','middle']" data-voffset="['-20','0','0','0']" 
                        data-fontsize="['18','18','18','18']"
                        data-lineheight="['68','68','68','50']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 5; white-space: nowrap;font-family: 'Poppins', sans-serif; text-transform: none; color: #ffffff;">Active lifestyle national Hungary bus creditcard
                    </div>

                    <!-- LAYER NR. 4 -->
                    <div class="tp-caption   tp-resizeme" 
                         id="slide-3045-layer-8" 
                        data-x="['left','left','left','left']" data-hoffset="['70','70','70','70']" 
                         data-y="['middle','middle','middle','middle']" data-voffset="['10','0','0','0']" 
                        data-fontsize="['18','18','18','18']"
                        data-lineheight="['68','68','68','50']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text" 
                        data-responsive_offset="on" 
                        data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[10,10,10,10]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[10,10,10,10]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 6; white-space: nowrap;font-family: 'Poppins', sans-serif; color: #ffffff;">South America expedia boat.
                    </div>
                    <!-- LAYER NR. 5 -->
                   <div class="tp-caption Newspaper-Button rev-btn " 
                        id="slide-1687-layer-9" 
                        data-x="['left','left','left','left']" data-hoffset="['70','70','70','70']" 
                        data-y="['middle','middle','middle','middle']" data-voffset="['100','0','0','0']" 
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-fontsize="['16','16','16','16']"
                        data-type="button" 
                        data-responsive_offset="on" 
                        data-responsive="on"
                        data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 1.00);bg:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                        data-textAlign="['left','left','left','left']"
                        data-paddingtop="[15,15,15,15]"
                        data-paddingright="[30,30,30,30]"
                        data-paddingbottom="[15,15,15,15]"
                        data-paddingleft="[30,30,30,30]"

                        style="z-index: 8; font-weight: 600; white-space: nowrap;font-family: 'Poppins', sans-serif; outline:none;box-shadow:none;border:none; background:#ffffff; color:#3f77fa; cursor:pointer;letter-spacing: 0; border-radius: 5px;"><span>Start tour</span>
                    </div>
                </li>
            </ul><!-- END SLIDES LIST -->

        </div><!-- END SLIDER CONTAINER -->
    </div><!-- END SLIDER CONTAINER WRAPPER -->
</header> <!-- End Header -->


 <!--============= { Booking Foem  } ===========-->
<section id="booking-form-03" class="booking-form" >
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="booking-form-wrapper">
                    <h2>&nbsp;</h2>
                    <form>
                        <div class="form-group">
                            <div class="form-items">
                                <div class="form-single">
                                    <label>Search</label>
                                    <input class="form-control" value="" placeholder="Type Keyword" type="text">
                                </div>                            
                                <div class="form-single">
                                    <i class="fas fa-sort-down down-icon"></i>
                                    <label>Select Location</label>
                                    <select class="selectpicker form-control" name= "location" >
                                        <option value="1">location</option>
                                        <option value="0">America</option>
                                        <option value="0">Canada</option>
                                        <option value="0">Australia</option>                                        
                                    </select>
                                </div>
                                <div class="form-single">
                                    <i class="fas fa-sort-down down-icon"></i>
                                    <label>Date Check</label>
                                    <input class="form-control" id="datepicker-3" placeholder="Select Date" type="text">
                                </div>                            
                                <div class="form-single">
                                    <i class="fas fa-sort-down down-icon"></i>
                                    <label>Guest</label>
                                    <select class="selectpicker form-control" name= "location">
                                        <option value="1">Guest No.</option>
                                        <option value="0">Guest 1</option>
                                        <option value="0">Guest 2</option>
                                        <option value="0">Guest 3</option>                                        
                                        <option value="0">Guest 4</option>                                          
                                    </select>
                                </div>
                                <div class="form-single">                                
                                    <div class="search-btn ">
                                        <button class="btn-primary" type="button"><i class="flaticon-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    </div>
</section>


 <!--============= { Safe Tour Trips } ===========-->
<section id="tafe_tour_trips-03" class="tafe_tour_trips-02 tafe_tour_trips-03">
    <div class="tafe_tour_trips-03-wrapper">
        <div class="container">
            <div class="row  single-row-items">
                <div class="col-sm-4 col-md-12 col-lg-4">
                    <div class="sub-title">
                        <h2>Why Choose Our Trips</h2>
                        <p>Client stealth iteration monetization disruptive channels. Paradigm shift social</p>
                    </div>
                </div>            
                <div class="col-sm-12 col-lg-8 p-left-0">
                    <div class="row  single-row-items">
                        <div class="col-sm-6 col-lg-6 rpb">
                            <div class="singel-trips">
                                <div class="numbar-count-wrapper">                           
                                    <div class="list-numbar-count">
                                        <span>01</span>
                                    </div>
                                </div>
                                <div class="trips-details">
                                    <h3>Travel Plan</h3>
                                    <p>Hypotheses network effects validation buzz ecosystem ramen. Responsive web design disruptive beta. Agile development infogra</p>
                                </div>
                            </div>   
                        </div>

                        <div class="col-sm-6 col-lg-6 rpb">
                            <div class="singel-trips">
                                <div class="numbar-count-wrapper">                           
                                    <div class="list-numbar-count">
                                        <span>01</span>
                                    </div>
                                </div>
                                <div class="trips-details">
                                    <h3>Cheap Rates</h3>
                                    <p>Buzz business-to-business rockstar bandwidth focus supply chain non-disclosure agreement social proof startup growth..</p>
                                </div>
                            </div>   
                        </div>
                    </div>

                    <div class="row single-row-items">    
                        <div class="col-sm-6 col-lg-6 rpb">
                            <div class="singel-trips">
                                <div class="numbar-count-wrapper">                           
                                    <div class="list-numbar-count">
                                        <span>01</span>
                                    </div>
                                </div>
                                <div class="trips-details">
                                    <h3>Hand-picked tours</h3>
                                    <p>MVP launch party virality series A financing. Strategy freemium seed round pivot graphical user interface crowdfunding.</p>
                                </div>
                            </div>   
                        </div>

                        <div class="col-sm-6 col-lg-6 rpb">
                            <div class="singel-trips">
                                <div class="numbar-count-wrapper">                           
                                    <div class="list-numbar-count">
                                        <span>01</span>
                                    </div>
                                </div>
                                <div class="trips-details">
                                    <h3>Private Guide</h3>
                                    <p>Channels seed round iPhone infrastructure startup stealth. Holy grail analytics prototype infographic first advantage.</p>
                                </div>
                            </div>   
                        </div>
                    </div>

                    <div class="row single-row-items">    
                        <div class="col-sm-6 col-lg-6 rpb">
                            <div class="singel-trips">
                                <div class="numbar-count-wrapper">                           
                                    <div class="list-numbar-count">
                                        <span>01</span>
                                    </div>
                                </div>
                                <div class="trips-details">
                                    <h3>Special Activites</h3>
                                    <p>Early adopters mass market business plan incubator assets user experience funding iPad ecosystem seed money backing sales.</p>
                                </div>
                            </div>   
                        </div>

                        <div class="col-sm-6 col-lg-6 rpb">
                            <div class="singel-trips">
                                <div class="numbar-count-wrapper">                           
                                    <div class="list-numbar-count">
                                        <span>01</span>
                                    </div>
                                </div>
                                <div class="trips-details">
                                    <h3>Tours Supports</h3>
                                    <p>Conversion first mover advantage ramen deployment business model canvas beta creative android burn rate graphical user</p>
                                </div>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>


 <!--============= { Our Packages Area } ===========-->
<section id="packages_03" class="packages_02 packages_03">
    <div class="container">
        <div class="row">        
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2>Most Popular Packages</h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam</p>
                </div>
            </div>
        </div>
        <div class="row pb-30">
            <div class="col-sm-4 single-package-wrapper rpb">
                <div class="singel-packages">
                    <div class="img-wrapper">
                        <a href="" title=""><img src="images/packege/packege-01.jpg" alt=""></a>
                    </div>
                    <div class="packages-title">
                        <div class="title-wrapper">
                            <h3><a href="" title="">Casion Huber</a></h3>
                            <p>4 days, 5 Nights start from <span>$850</span></p>
                        </div>    
                        <a href="" class="booking-btn">Book Now</a>
                    </div>
                </div>   
            </div>            

            <div class="col-sm-4 single-package-wrapper rpb">
                <div class="singel-packages">
                    <div class="img-wrapper">
                        <a href="" title=""><img src="images/packege/packege-02.jpg" alt=""></a>
                    </div>
                    <div class="packages-title">
                        <div class="title-wrapper">
                            <h3><a href="" title="">Taxt place India</a></h3>
                            <p>4 days, 5 Nights start from <span>$750</span></p> 
                        </div>                        
                        <a href="" class="booking-btn">Book Now</a>
                    </div>
                </div>   
            </div>            

            <div class="col-sm-4 single-package-wrapper rpb">
                <div class="singel-packages">
                    <div class="img-wrapper">
                        <a href="" title=""><img src="images/packege/packege-03.jpg" alt=""></a>
                    </div>
                    <div class="packages-title">
                        <div class="title-wrapper">
                            <h3><a href="" title="">China home town</a></h3>
                            <p>4 days, 5 Nights start from <span>$750</span></p> 
                        </div>
                        <a href="" class="booking-btn">Book Now</a>
                    </div>
                </div>   
            </div>
        </div>

        <div class="row pb-30">
            <div class="col-sm-4 single-package-wrapper rpb">
                <div class="singel-packages">
                    <div class="img-wrapper">
                        <a href="" title=""><img src="images/packege/packege-04.jpg" alt=""></a>
                    </div>
                    <div class="packages-title">
                        <div class="title-wrapper">
                            <h3><a href="" title="">Casion Huber</a></h3>
                            <p>4 days, 5 Nights start from <span>$850</span></p>
                        </div>    
                        <a href="" class="booking-btn">Book Now</a>
                    </div>
                </div>   
            </div>            

            <div class="col-sm-4 single-package-wrapper rpb">
                <div class="singel-packages">
                    <div class="img-wrapper">
                        <a href="" title=""><img src="images/packege/packege-05.jpg" alt=""></a>
                    </div>
                    <div class="packages-title">
                        <div class="title-wrapper">
                            <h3><a href="" title="">Taxt place India</a></h3>
                            <p>4 days, 5 Nights start from <span>$750</span></p> 
                        </div>                        
                        <a href="" class="booking-btn">Book Now</a>
                    </div>
                </div>   
            </div>            

            <div class="col-sm-4 single-package-wrapper rpb">
                <div class="singel-packages">
                    <div class="img-wrapper">
                        <a href="" title=""><img src="images/packege/packege-06.jpg" alt=""></a>
                    </div>
                    <div class="packages-title">
                        <div class="title-wrapper">
                            <h3><a href="" title="">China home town</a></h3>
                            <p>4 days, 5 Nights start from <span>$750</span></p> 
                        </div>
                        <a href="" class="booking-btn">Book Now</a>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</section>


 <!--============= { Our Features Places } ===========-->
<section id="features_place" class="features_place">
    <div class="container">
        <div class="row">        
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2>Features Place</h2>
                    <p>Caravan Amsterdam group discount. Booking passport USA. People Berlin activities motel on a shoestring Turkey creditcard discover flexibility globe.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 p-0">
                <div id="features_place_carousel" class="owl-carousel">

                    <div class="features_place_single">
                        <div class="features_place_img">
                            <img src="images/feature-location/feature-location-01.jpg" alt="">
                        </div>
                        <a href="" title="">Book Now</a>                    
                    </div>

                    <div class="features_place_single">
                        <div class="features_place_img">
                            <img src="images/feature-location/feature-location-02.jpg" alt="">
                        </div>
                        <a href="" title="">Book Now</a>                    
                    </div> 
 
                    <div class="features_place_single">
                        <div class="features_place_img">
                            <img src="images/feature-location/feature-location-03.jpg" alt="">
                        </div>
                        <a href="" title="">Book Now</a>                    
                    </div> 
 
                    <div class="features_place_single">
                        <div class="features_place_img">
                            <img src="images/feature-location/feature-location-04.jpg" alt="">
                        </div>
                        <a href="" title="">Book Now</a>                    
                    </div> 
 
                    <div class="features_place_single">
                        <div class="features_place_img">
                            <img src="images/feature-location/feature-location-05.jpg" alt="">
                        </div>
                        <a href="" title="">Book Now</a>                    
                    </div> 
 
                    <div class="features_place_single">
                        <div class="features_place_img">
                            <img src="images/feature-location/feature-location-06.jpg" alt="">
                        </div>
                        <a href="" title="">Book Now</a>                    
                    </div> 
 
                    <div class="features_place_single">
                        <div class="features_place_img">
                            <img src="images/feature-location/feature-location-07.jpg" alt="">
                        </div>
                        <a href="" title="">Book Now</a>                    
                    </div> 
 
                    <div class="features_place_single">
                        <div class="features_place_img">
                            <img src="images/feature-location/feature-location-08.jpg" alt="">
                        </div>
                        <a href="" title="">Book Now</a>                    
                    </div> 
 
                </div>
            </div>
        </div>
    </div>
</section>


 <!--============= { Our latest Blog } ===========-->
<section id="latest_blog-03" class="latest_blog latest_blog-03">
    <div class="container">
        <div class="row">        
            <div class="col-sm-12">
                <div class="sub-title">
                    <h2>Our Latest Blog</h2>
                    <p>ut labore et dolore magna aliqua. Ut enim ad laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 p-0">
                <div id="latest_blog_carousel-3" class="owl-carousel">
                    
                     <div class="review_singel-wrapper">
                        <div class="review_singel">
                            <div class="blog-img">
                                <img src="images/blog/blog-01.jpg" alt="">
                            </div>
                            <div class="blog-title">     
                                <h3>Turkey activities of overnight worldwid boat nighttrain Barcelona.</h3> 
                                <div class="blog-review-comment">
                                    <span>July 25, 2018</span> 
                                    <ul class="social_options">
                                        <li><a href="" title=""><i class="flaticon-like"></i></a></li> 
                                        <li><a href="" title=""><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i><span>05</span></a></li>               
                                    </ul>                                      
                                </div>
                            </div>   
                        </div>
                    </div>
                 
                     <div class="review_singel-wrapper">
                        <div class="review_singel">
                            <div class="blog-img">
                                <img src="images/blog/blog-02.jpg" alt="">
                            </div>
                            <div class="blog-title">     
                                <h3>Turkey activities of overnight worldwid boat nighttrain Barcelona.</h3> 
                                <div class="blog-review-comment">
                                    <span>July 25, 2018</span> 
                                    <ul class="social_options">
                                        <li><a href="" title=""><i class="flaticon-like"></i></a></li> 
                                        <li><a href="" title=""><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i><span>05</span></a></li>             
                                    </ul>                                      
                                </div>
                            </div>   
                        </div>
                    </div>                 
                     <div class="review_singel-wrapper">
                        <div class="review_singel">
                            <div class="blog-img">
                                <img src="images/blog/blog-03.jpg" alt="">
                            </div>
                            <div class="blog-title">     
                                <h3>Turkey activities of overnight worldwid boat nighttrain Barcelona.</h3> 
                                <div class="blog-review-comment">
                                    <span>July 25, 2018</span> 
                                    <ul class="social_options">
                                        <li><a href="" title=""><i class="flaticon-like"></i></a></li> 
                                        <li><a href="" title=""><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i><span>05</span></a></li>               
                                    </ul>                                      
                                </div>
                            </div>   
                        </div>
                    </div>                 
                     <div class="review_singel-wrapper">
                        <div class="review_singel">
                            <div class="blog-img">
                                <img src="images/blog/blog-04.jpg" alt="">
                            </div>
                            <div class="blog-title">     
                                <h3>Turkey activities of overnight worldwid boat nighttrain Barcelona.</h3> 
                                <div class="blog-review-comment">
                                    <span>July 25, 2018</span> 
                                    <ul class="social_options">
                                        <li><a href="" title=""><i class="flaticon-like"></i></a></li> 
                                        <li><a href="" title=""><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i><span>05</span></a></li>             
                                    </ul>                                      
                                </div>
                            </div>   
                        </div>
                    </div>                 
                     <div class="review_singel-wrapper">
                        <div class="review_singel">
                            <div class="blog-img">
                                <img src="images/blog/blog-05.jpg" alt="">
                            </div>
                            <div class="blog-title">     
                                <h3>Turkey activities of overnight worldwid boat nighttrain Barcelona.</h3> 
                                <div class="blog-review-comment">
                                    <span>July 25, 2018</span> 
                                    <ul class="social_options">
                                        <li><a href="" title=""><i class="flaticon-like"></i></a></li> 
                                        <li><a href="" title=""><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i><span>05</span></a></li>          
                                    </ul>                                      
                                </div>
                            </div>   
                        </div>
                    </div>                 
                     <div class="review_singel-wrapper">
                        <div class="review_singel">
                            <div class="blog-img">
                                <img src="images/blog/blog-06.jpg" alt="">
                            </div>
                            <div class="blog-title">     
                                <h3>Turkey activities of overnight worldwid boat nighttrain Barcelona.</h3> 
                                <div class="blog-review-comment">
                                    <span>July 25, 2018</span> 
                                    <ul class="social_options">
                                        <li><a href="" title=""><i class="flaticon-like"></i></a></li> 
                                        <li><a href="" title=""><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i><span>05</span></a></li> 
                                    </ul>                                      
                                </div>
                            </div>   
                        </div>
                    </div>                 
                     <div class="review_singel-wrapper">
                        <div class="review_singel">
                            <div class="blog-img">
                                <img src="images/blog/blog-07.jpg" alt="">
                            </div>
                            <div class="blog-title">     
                                <h3>Turkey activities of overnight worldwid boat nighttrain Barcelona.</h3> 
                                <div class="blog-review-comment">
                                    <span>July 25, 2018</span> 
                                    <ul class="social_options">
                                        <li><a href="" title=""><i class="flaticon-like"></i></a></li> 
                                        <li><a href="" title=""><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i><span>05</span></a></li>        
                                    </ul>                                      
                                </div>
                            </div>   
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


 <!--============= { Our Clients Logo } ===========-->
<section id="logos-03" class="logos">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="companis-logo-wapper">
                    <h2>&nbsp;</h2>
                    <ul class="companis-logos">
                        <li><img src="images/company_logos/company_logo-01.png" alt=""></li>
                        <li><img src="images/company_logos/company_logo-02.png" alt=""></li>
                        <li><img src="images/company_logos/company_logo-03.png" alt=""></li>
                        <li><img src="images/company_logos/company_logo-04.png" alt=""></li>
                        <li><img src="images/company_logos/company_logo-05.png" alt=""></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>


 <!--============= { Footer Full Section } ===========-->
<div id="footer-wrapper">
     <!--============= { Our Tourist Review } ===========-->
    <section id="client_review-03" class="client_review-03">
        <div class="container">
            <div class="row">        
                <div class="col-sm-12">
                    <div class="sub-title">
                        <h2>Tourist reviews</h2>
                        <p>I must explain to you how all this mistaken idea of denouncing pleasure</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-9 mx-auto">
                    <div id="reviews_carousel-03" class="owl-carousel">
                        <div class="review_singel">
                            <div class="images-box">
                                <img src="images/reviewer/reviewer-01.png" alt="">
                            </div>                    
                            <div class="content-box">
                                <p>Startup ecosystem iPhone analytics. Hackathon backing release interaction design innovator crowdsource handshake iPhone partnership startup paradigm shift MVP focus metrics Client analytics.</p>
                            </div>
                            <div class="author-details">
                                <h3>Piter Son</h3>
                                <span>Alexis, Parents</span>
                            </div>                              
                        </div>

                        <div class="review_singel">
                            <div class="images-box">
                                <img src="images/reviewer/reviewer-02.png" alt="">
                            </div>                    
                            <div class="content-box">
                                <p>Backing creative non-disclosure agreement. IPhone investor influencer buyer seed round value proposition first mover advantage technology graphical user interface. Bandwidth funding iPhone.</p>
                            </div>
                            <div class="author-details">
                                <h3>Jhonthan Smith</h3>
                                <span>America</span>
                            </div>                              
                        </div>

                        <div class="review_singel">
                            <div class="images-box">
                                <img src="images/reviewer/reviewer-03.png" alt="">
                            </div>                    
                            <div class="content-box">
                                <p>Channels seed round iPhone infrastructure startup stealth. Holy grail analytics prototype infographic first mover advantage. Scrum project holy grail business plan gamification product.</p>
                            </div>
                            <div class="author-details">
                                <h3>Juliya Rosge</h3>
                                <span>England</span>
                            </div>                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--============= { Subscribe Area } ===========-->
    <section id="subscribe-03" class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="subscribe-wrapper">
                        <div class="sub-title">
                            <h2>Subscribe to our newsletter</h2>
                            <p>I must explain to you how all this mistaken idea of denouncing pleasure</p>
                        </div>
                        <div class="subscribe-form ">
                            <form action="#">
                                <div class="form-group">
                                    <input placeholder="Enter Your E-mail" type="email" required="">
                                    <button type="submit" class="text-center">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--============= { Footer Area } ===========-->
    <footer id="footer-03" class="footer">
        <div class="container">
            <div class="row footer-col-list">
                <div class=" footer-single-col footer_single_col_1">
                    <h3 class="subtitle_1"><img src="images/logo.png" alt="SafeTure"></h3>
                    <p>Lorem Ipsum has been the industry's standard dummy text scrambled it to make a type specimen book.</p>
                    <div class="subscribe-social">
                        <ul class="social-items list-unstyled">
                            <li><a href="#"><i class="fab fa-facebook-f fb-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter twitt-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in link-icon"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram ins-icon"></i></a></li>
                        </ul>
                    </div> 
                </div>

                <div class="footer-single-col footer_single_col_2">
                    <h3 class="subtitle_1">Link</h3> 
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Hotel</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="footer-single-col footer_single_col_3"> 
                    <h3 class="subtitle_1">Support</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Simply</a></li>
                        <li><a href="#">Dummy</a></li>
                        <li><a href="#">Printing</a></li>
                        <li><a href="#">Industry</a></li>                    
                        <li><a href="#">Standard</a></li>
                        <li><a href="#">Galley</a></li>
                    </ul>
                </div>
                <div class="footer-single-col footer_single_col_4">
                    <h3 class="subtitle_1">Booking</h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots classical</p>
                </div>  
            </div>
            <div class="copyright">
                <p> Copyright &copy; 2018, Created  by <span>NajmulHaque</span></p>            
            </div>         
        </div>      
    </footer><!-- ./ End Footer Area-->
</div>

<!--============= {Scrolll Top } ===========-->
<section id="scroll-top" class="scrolll-top">
    <div class="container">      
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-end">
                <h2>&nbsp;</h2>
                <div class="to-top pos-rtive">
                    <a href="#"><i class = "fa fa-angle-up"></i></a>
                </div><!-- Scroll to top button end-->
            </div>
        </div>
    </div>
</section>
